<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">

        <!--Script Module-->
        <% dependances.scripts.forEach(function(script, index) { %>
        <script src="<%= script %>.js"></script>
        <% }); %>

        <!--CSS Module-->
        <% dependances.css.forEach(function(css, index) { %>
        <link rel="stylesheet" type="text/css" href="<%= css %>.css">
        <% }); %>

    </head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
        <tbody id="tab"></tbody>
    </table>
</body>
</html>
